<section id="agenda">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Agenda</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container">
       
        <ul class="timeline">

            <li class="timeline-inverted">
              <div class="timeline-badge simple"><img src="img/program/android.png"/></div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title">#1 Hello Android</h4>
                </div>
                <div class="timeline-body">
                    <p>Nas próximas semanas vais criar a tua primeia aplicação Android. Nesta primeira aula vais ter oportunidade de aprender o basico de Android</p>
                    <ul>
                        <li>Apresentação do programa e da equipa</li>
                        <li>Introdução ao Android</li>
                        <li>Introdução ao Android Studio e configurações</li>
                        <li>Emulador</li>
                        <li>Estrutura do projecto</li>
                        <li>Hello World</li>
                    </ul>
                </div>
              </div>
            </li>

            <li class="timeline-inverted">
                <div class="timeline-badge simple"><img src="img/program/android.png"/></div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title">#2 Fundações</h4>
                  </div>
                  <div class="timeline-body">
                      <p>Depois do tipico Hello World, vamos ver como é que isto funciona</p>
                      <ul>
                          <li>Activities e Fragments</li>
                          <li>Android Manifest</li>
                          <li>Intents</li>
                          <li>Interagir com outras aplicações</li>
                          <li>Arquitectura da aplicação</li>
                      </ul>
                  </div>
                </div>
              </li>

              <li class="timeline-inverted">
                  <div class="timeline-badge simple"><img src="img/program/android.png"/></div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4 class="timeline-title">#3 Mobila</h4>
                    </div>
                    <div class="timeline-body">
                        <p>Vamos tornar a aplicação bonita</p>
                        <ul>
                            <li>Layouts</li>
                            <li>Diferentes tipos de Views</li>
                        </ul>
                    </div>
                  </div>
                </li>

                <li class="timeline-inverted">
                    <div class="timeline-badge simple"><img src="img/program/android.png"/></div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4 class="timeline-title">#4 Art Attack</h4>
                      </div>
                      <div class="timeline-body">
                          <p>Devolta ao quadro de desenho. Como adicionar novas views?</p>
                          <ul>
                              <li>RecyclerView e Adapters</li>
                              <li>Como manipular os dados inseridos</li>
                          </ul>
                      </div>
                    </div>
                  </li>

                  <li class="timeline-inverted">
                      <div class="timeline-badge simple"><img src="img/program/android.png"/></div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">#5 Hello World (agora a serio)</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Uma aplicação que não se liga ao resto do mundo (aka o servidor) normalmente não interessa muito.</p>
                            <p>Vamos ligar o wireless, ou o 4G</p>
                            <ul>
                                <li>Permissões</li>
                                <li>Retrofit</li>
                                <li>Tratar dados</li>
                            </ul>
                        </div>
                      </div>
                    </li>

                    <li class="timeline-inverted">
                      <div class="timeline-badge simple"><img src="img/program/android.png"/></div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">#6 Biblioteca</h4>
                        </div>
                        <div class="timeline-body">
                            <p>Não vale a pena reinventar a roda, existe uma grande e espetacular comunidade que produz boas bibliotecas.</p>
                            <ul>
                                <li>Glide/Picasso</li>
                                <li>Jetpack</li>
                                <li>Crashlytics</li>
                                <li>LeakCanary</li>
                            </ul>
                        </div>
                      </div>
                    </li>

                    <li class="timeline-inverted">
                      <div class="timeline-badge simple"><img src="img/program/android.png"/></div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">#7 Room with a view </h4>
                        </div>
                        <div class="timeline-body">
                            <p>Se continuarmos a tranferir constantemente o mesmo conteúdo sempre que abrirmos a aplicação, atingiremos facilmente o limite de dados!
                            Recentemente, a Google lançou uma biblioteca para nos permite interagir mais facilmente com o SQLite - vamos experimentar!</p>
                            <ul>
                                <li>Conceitos de base de dados</li>
                                <li>SharedPreferences</li>
                                <li>Room</li>
                            </ul>
                        </div>
                      </div>
                    </li>

                    <li class="timeline-inverted">
                      <div class="timeline-badge simple"><img src="img/program/android.png"/></div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">#8 TBD </h4>
                        </div>
                        <div class="timeline-body">
                            <p></p>
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                      </div>
                    </li>

                    <li class="timeline-inverted">
                      <div class="timeline-badge simple"><img src="img/program/firebase.png"/></div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">#9 Firebase</h4>
                        </div>
                        <div class="timeline-body">
                            <p>E se te dissermos que não precisas de implemtar o teu servidor (backend)?🤯 E se te dissermos que apenas precisa de incluir algumas bibliotecas para conseguires partilhar dados entre diferentes utilizadores.</p>
                            <ul>
                                <li>Introdução ao Firebase</li>
                                <li>Crashlytics</li>
                                <li>Beta</li>
                                <li>Notifications</li>
                                <li>Bases de dados (Firestore ou Realtime)</li>
                                <li>Storage</li>
                            </ul>
                        </div>
                      </div>
                    </li>

                    <li class="timeline-inverted">
                      <div class="timeline-badge simple"><img src="img/program/tensorflow.png"/></div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4 class="timeline-title">#10 TensorFlow</h4>
                        </div>
                        <div class="timeline-body">
                            <p>TBD</p>
                            <ul>
                                <li>Introdução ao TensorFlow</li>
                                <li>Modelos</li>
                                <li>Detetar cães</li>
                            </ul>
                        </div>
                      </div>
                    </li>
    </div>
</section>