<header>
    <div class="header-content">
        <!-- <div class="header-content-inner col-centered"> -->

            <div class="row">
                <div class="col-lg-8 col-sm-6">
                    <img src="img/android.png" class="img-responsive center-block" alt="">
                    <h1>{{ site.title }}</h1>
                    <hr>
                    <p style="font-size: 22px; font-weight: 400;text-shadow: 0 1px black; color:white;">Bem-vind@s à primeira edição virtual do Android@ Home! Durante as próximas semanas, vamos ter duas sessões online onde vamos construir uma aplicação de raiz. O programa é inteiramente gratuito e para acederes apenas tens de registar no nosso slack para ficares a par de tudo o que vamos publicando. Até já!</p>
                    
                    <a href="#program" class="btn btn-primary btn-xl page-scroll">Sabe mais</a>
                </div>
    
                <div class="col-lg-4 col-sm-6">
                  <div class="agenda-panel">
                      <img src="img/pixel.png" class="img-responsive"/>
                </div>
    
            </div>
        <!-- </div> -->
    </div>
</header>
