<header>
    <div class="header-content">
        <div class="header-content-inner col-centered">
            <img src="img/android.png" class="img-responsive center-block" alt="">
            <h1>{{ site.title }}</h1>
            <hr>
            <p>Bem-vind@s à primeira edição virtual do Android@ Home! Durante as próximas semanas, vamos ter duas sessões online onde vamos construir uma aplicação de raiz. O programa é inteiramente gratuito e para acederes apenas tens de registar no nosso slack para ficares a par de tudo o que vamos publicando. Até já!</p>
          
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
        </div>
    </div>
</header>
