<section class="no-padding" id="photos">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <img src="img/photos/1.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="img/photos/2.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="img/photos/3.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="img/photos/4.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="img/photos/5.jpg" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="img/photos/6.jpg" class="img-responsive" alt="">
            </div>
        </div>
    </div>
</section>
