<section id="previous_editions" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Edições anteriores em:</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container-fluid no-gutter">
        <div class="row no-gutter">
          <div class="col-lg-12"> 
            <img src="img/map.png" class="img-responsive" alt="">
          </div>
        </div>
    </div>
</section>