<section id="previous_editions">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Edições anteriores em:</h2>
                <hr class="light">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                  <span class="fa-stack fa-5x">
                        <img class="img-responsive" src="/img/universities/ipca.png">
                  </span>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                  <span class="fa-stack fa-5x">
                        <img class="img-responsive" src="/img/universities/ipleiria.png">
                  </span>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                  <span class="fa-stack fa-5x">
                        <img class="img-responsive" src="/img/universities/fcup.png">
                  </span>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                  <span class="fa-stack fa-5x">
                        <img class="img-responsive" src="/img/universities/ua.png">
                  </span>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                  <span class="fa-stack fa-5x">
                        <img class="img-responsive" src="/img/universities/um.png">
                  </span>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                  <span class="fa-stack fa-5x">
                        <img class="img-responsive" src="/img/universities/ubi.jpg">
                  </span>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                  <span class="fa-stack fa-5x">
                        <img class="img-responsive" src="/img/universities/fctuc.png">
                  </span>
                </div>
            </div>          

            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                  <span class="fa-stack fa-5x">
                        <img class="img-responsive" src="/img/universities/ispgaya.png">
                  </span>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                  <span class="fa-stack fa-5x">
                        <img class="img-responsive" src="/img/universities/ipvc.png">
                  </span>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 text-center">
                <div class="service-box">
                  <span class="fa-stack fa-5x">
                        <img class="img-responsive" src="/img/universities/nova.png">
                  </span>
                </div>
            </div>
            
            


        </div>
    </div>
</section>