<section class="bg-blue" id="program">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Programa</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">

        <div class="rowm agenda">

            <div class="col-lg-4 col-sm-6">
              <div class="agenda-panel">
                <div class="agenda-heading">
                  <img src="img/program/android.png" class="img-responsive"/>
                  <h4 class="agenda-title">Android</h4>
                </div>
                <div class="agenda-body">
                  <p>Com mais de dois mil milhões de utilizadores activos, o Android é o principal Sistema Operativo móvel. Não estando apenas restrito aos telemóveis, neste momento é possível interagir com o Android em TV's, no carro, nos relógios, etc.</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-sm-6">
              <div class="agenda-panel">
                <div class="agenda-heading">
                  <img src="img/program/firebase.png" class="img-responsive"/>
                  <h4 class="agenda-title">Firebase</h4>
                </div>
                  <p>Encontrando-se disponível tanto para Android como para iOS, o Firebase permite enriquecer as aplicações móveis com inúmeras novas funcionalidades: autenticação, base de dados remota, notificações push, crashlytics, etc.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
              <div class="agenda-panel">
                <div class="agenda-heading">
                  <img src="img/program/tensorflow.png" class="img-responsive"/>
                  <h4 class="agenda-title">TensorFlow</h4>
                </div>
                  <p>Duas das palavras mais faladas no mundo tecnológico neste momento são: inteligência artificial. Inúmeras aplicações estão a tirar partido do TensorFlow para adicionarem novas funcionalidades às suas aplicações.</p>
                </div>
              </div>
            </div>

        </div>
    </div>
</section>