// TODO 


// .agenda-panel {
//     width: 100%;
//     float: left;
//     border: 1px solid #d4d4d4;
//     border-radius: 2px;
//     padding: 20px;
//     position: relative;
//     -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
//     box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
//   }


.agenda-title { 
    margin-top: 0;
    color: inherit;
    font-weight: bold;
}